<ActionBar title="My App">
</ActionBar>

<GridLayout>

    <FlexboxLayout class="page">
        <StackLayout class="form">

            <Label text="register !"></Label>
            <StackLayout class="input-field m-12">
                <TextField class="form-control" hint="First Name" keyboardType="email" autocorrect="false" width="100%">
                </TextField>
            </StackLayout>

            <StackLayout class="input-field m-12">
                <TextField class="form-control" hint="Last Name" keyboardType="email" autocorrect="false" width="100%">
                </TextField>
            </StackLayout>

            <StackLayout class="input-field m-12">
                <TextField class="form-control" hint="Date of birth" keyboardType="email" autocorrect="false"
                    width="100%">
                </TextField>
            </StackLayout>

            <StackLayout class="input-field m-12">
                <TextField class="form-control" hint="Email" keyboardType="email" autocorrect="false" width="100%">
                </TextField>
            </StackLayout>

            <StackLayout class="input-field m-12">
                <TextField class="form-control" hint="Mobile" keyboardType="email" autocorrect="false" width="100%">
                </TextField>
            </StackLayout>


            <StackLayout class="input-field m-12">
                <TextField class="form-control" hint="Password" keyboardType="email" autocorrect="false" width="100%">
                </TextField>
            </StackLayout>

            <StackLayout class="input-field m-12">
                <TextField class="form-control" hint="Photo" keyboardType="email" autocorrect="false" width="100%">
                </TextField>
            </StackLayout>

            <StackLayout class="input-field m-12">
                <TextField class="form-control" hint="Argement" keyboardType="email" autocorrect="false" width="100%">
                </TextField>
            </StackLayout>

            <StackLayout class="input-field m-12">
                <Label row="1" colSpan="2" class="btn btn-red " text="REGISTER"
                    [nsRouterLink]="['/forgot-username']"></Label>
            </StackLayout>




        </StackLayout>
    </FlexboxLayout>
</GridLayout>