<ActionBar title="Details"></ActionBar>


<FlexboxLayout class="page">


    <StackLayout class="form">
        <Label text="Forgot password !"></Label>

        <StackLayout class="input-field m-t-10">
            <TextField class="form-control" hint="Text ..." keyboardType="email" autocorrect="false">
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <Label text="Change password " [nsRouterLink]="['/change-password']"></Label>


    </StackLayout>
</FlexboxLayout>