TabStrip {
  selected-item-color: #0fa956;
  un-selected-item-color: #181725;
  highlight-color: gold;
  width: 25;
  height: 25;
  background: #ffffff;
  box-shadow: 0px 11px 19px rgba(0, 0, 0, 0.19);
  border-radius: 34px;
}
